/**
 * Template: teachPress APA template
 * Version: 1.0
 * Author: Simon Phumin Schweikert, Joel Rixen
*/

.tp_pub_author, #content p.tp_pub_author {font-size:1rem; margin-bottom:1px; margin-top:1px;}
.tp_pub_title, a.tp_title_link, #content p.tp_pub_title {font-size:1rem; margin-top:1px; margin-bottom:1px;}
.tp_pub_additional, #content p.tp_pub_additional {font-size:1rem; margin: 0;}
.tp_pub_tags, #content p.tp_pub_tags  {font-size:1rem; margin-top:1px; margin-bottom:1px; color:#AAAAAA;}
.tp_pub_tags a {color:#000; text-decoration:underline; box-shadow: none;}
.tp_pub_tags a:hover {color:#000; text-decoration:none;}
.tp_resource_link {margin: 0;}
.tp_resource_link a svg:hover #pdf {fill: #fff;}
.teachpress_publication_list td {padding: 5px 0;}
a->#tp_links_sh_4 svg:hover #pdf{fill: #fff;}
.tp_pub_type {background-color: #ce1628; color: #fff; display: inline-block; padding: 10px 15px; margin-left: 5px; font-size: 13px; font-weight: bold; line-height: 1;}
.tp_resource_link, .tp_bibtex_link {background-color: #fff; color: #181716;; display: inline-block; padding: 10px 15px; font-size: 13px; line-height: 1; border: solid 1px #181716;}
.tp_resource_link:hover, .tp_bibtex_link:hover {background-color: #ce1628; color: #fff; border: solid 1px #ce1628;}
.tp_pub_label_status {background-color: orange; color: #000; display: inline-block; padding: 3px 4px; margin-left: 5px; font-size: 10px; font-weight: bold; line-height: 1; border-radius: 2px; box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);}

#tp_search_input_field{
width: 50% ;
display:inline-block;
float:left;
height:40px;
}

.tp_search_button{
height: 40px; 
}

.tp_title_link{
color: #000;
}

.tp_h3{
	margin-top: .5rem;
	color: #000;
}

.page-numbers{
	display:all;
}

.tp_title_link a{
	text-decoration: none !important;
	color:#000 !important;
}

a.tp_title_link:hover{
color:#000;
}

.tp_pub_title a{
color:#000;
font-weight: normal !important;
}

.tp_pub_title{
	font-style: italic;
	font-weight: normal;
}

.tp_cursive{
	 font-style: italic;
}

.tp_pub_tags{
margin-top: 5px !important;
}

.tp_single_title, .tp_single_author, .tp_single_year, .tp_single_additional, .tp_cite_entry {font-size:1rem;}
